.full-page {
  margin: 0;
  padding: 0;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  background-color: darkslategrey;
  color: white;
  position: relative;
  align-items: center;
  justify-content: center;
}
.header-container {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  width: 100%;
  margin-top: 20px;
}
.users-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 672px;
  overflow-x: auto; 
}
.information-container {
  display: flex;
  align-items: center;
  border-bottom-style: outset;
}
img {
  border-radius: 70px;
  border-style: solid;
}
.user-info {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.user-input , .email {
  height: 20px;
  margin-left: 15px;
}
.email {
  height: 100%;
  width: 200px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  width: 450px;
  height: 200px;
  position: absolute;
  background-color: dimgray;
}
button {
  outline: 0;
}
.header-button {
  outline: 0;
  font-size: 15px;
  border-style: none;
}
.modal-close-button {
  width: 40px;
  margin-left: 410px;
  font-size: 30px;
  border-style: none;
  background-color: dimgray;
  cursor: pointer;
}
.modal-inputs-container {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
.modal-input {
  width: 100px;
  margin-bottom: 10px;
}
.modal-button {
  margin-left: 300px;
}
