body {
    margin: 0;
    padding: 0;
    background-color: #f2f1f6;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  
  .full-hotel-detail {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 3%; }
  
  .images-container {
    display: flex; }
  
  .image-left {
    display: flex;
    flex: 1.6;
    position: relative; }
  
  .photo-left {
    width: 100%; }
  
  .icon-container {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px 0 0; }
  
  .image-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 10px; }
  
  .photo-right-top {
    width: 100%; }
  
  .image-right-bottom {
    margin-top: 10px;
    display: flex;
    flex: 1; }
  
  .image-right-bottom-left {
    display: flex;
    flex: 1; }
  
  .photo-right-bottom-left {
    width: 100%;
    height: 100%; }
  
  .image-right-bottom-right {
    display: flex;
    flex: 1;
    margin-left: 10px; }
  
  .photo-right-bottom-right {
    width: 100%; }
  
  .image-under-info-container {
    display: flex;
    flex-direction: column;
    width: 100%; }
  
  .hotel-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e4;
    padding: 30px 0 30px 0; }
  
  .hotel-name-star-address-container {
    display: flex;
    flex-direction: column; }
  
  .name-star-container {
    display: flex;
    flex-direction: row;
    align-items: center; }
  
  .star-container {
    padding-left: 15px; }
  
  .star-container .fa {
    font: normal normal normal 14px/1 FontAwesome; }
  
  .address-container {
    margin-top: 6px; }
  
  .address-container p {
    color: #626262; }
  
  .badge {
    background-color: #a1da27;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 22px;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 38px;
    height: 20px;
    border-radius: 4px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    color: white; }
  
  h3, p {
    margin: 0;
    padding: 0; }
  
  .checked {
    width: 14;
    color: #ffa300;
    margin-left: 2px; }
  
  .tripadvisor-rating {
    display: flex; }
  
  .rating-text {
    color: #626262;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-left: 4px; }
  
  .review {
    color: #f9a11b;
    font-size: 14px;
    letter-spacing: 0.22px;
    line-height: 21px;
    text-align: right;
    margin-top: 6px; }
  
  .most-popular-facilities-container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e2e2e4;
    width: 100%;
    flex-wrap: wrap; }
  
  .most-popular-facilities-detail {
    display: flex;
    flex-direction: row;
    align-items: center; }
  
  .most-popular-facilities-title {
    color: #626262;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 23px;
    margin-right: 100px; }
  
  .most-popular-facilities-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap; }
  
  .most-popular-facilities-list li {
    display: flex;
    margin-right: 70px;
    color: #626262;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 21px; }
  
  .see-all-button {
    color: #f9a11b;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 21px;
    outline: 0;
    touch-action: manipulation;
    text-transform: none;
    overflow: visible;
    background-repeat: no-repeat;
    box-sizing: inherit;
    border: none;
    background: none;
    cursor: pointer; }
  
  .map-container {
    width: 100%;
    height: 400px;
    margin-top: 24px; }
  
  .facilities-container {
    display: flex;
    flex-direction: column; }
  
  .hotel-info-title {
    color: #303030;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 47px; }
  
  .facilities-container .facilities-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0; }
  
  .facilities-list .list-item {
    display: flex;
    width: 21%;
    margin-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #626262;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 23px;
    align-items: center; }
  
  .facility-name {
    width: 100%;
    display: flex; }
  
  .facilities-list .facilities-list .list__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 2px solid #473ca4;
    border-radius: 50%;
    background: none;
    margin-right: 8px; }
  
  .information-desc {
    color: #767676;
    padding-bottom: 10px;
    font-size: 15px;
    letter-spacing: 0.2px; }
  
  .see-more-button {
    color: #f9a11b;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.22px;
    line-height: 21px;
    outline: 0;
    touch-action: manipulation;
    text-transform: none;
    overflow: visible;
    background-repeat: no-repeat;
    box-sizing: inherit;
    border: none;
    background: none;
    cursor: pointer;
    padding-left: 0; }
  
  .link-text {
    color: #f9a11b;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1px; }
  
  .fa-check-circle::before {
    font-size: 20px;
    color: darkblue;
    margin-right: 10px; }
  
  /*# sourceMappingURL=style.css.map */