.full-page {
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  font-family: monospace;
  color: white;
}
.menu-container,.basket-container {
  margin-top: 50px;
  padding: 0 5% 0 5% ;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: groove;
	width: 400px;
  height: 600px;
}
.menu-container {
  height: 100% !important;
  background-image: url("https://images.unsplash.com/photo-1513189737554-b1bbd839b9a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: 50% 0;
}
.basket-container {
  background-image: url("https://images.unsplash.com/photo-1484726424599-0655f14a0687?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}
.menu_title , .basket-title {
	border-bottom-style: solid;
}
.products {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.menu-item {
  display: flex;
  align-items: center;
  line-height: 3;
}
.menu-item .item-name ,.item-price {
	margin: 0;
	padding: 0;
	flex:1;
	font-size: 15px;
}
.menu_header {
	display: flex;
	width: 100%;
}
.menu_header .header_product {
	flex:1;
	margin-bottom: 10px;
	margin-top: 40px;
  font-size: 20px;
	font-family: monospace;
	border-bottom-style: solid;
}
.menu_header .header_price {
	flex:1.80;
	margin-bottom: 10px;
	margin-top: 40px;
  font-size: 20px;
	font-family: monospace;
	border-bottom-style: solid;
}
.basket_header {
  width: 100%;
  display: flex;
}
.basket_header .header_product , .header_piece , .header_price {
  flex: 1;
  margin-bottom: 10px;
	margin-top: 40px;
  font-size: 20px;
	font-family: monospace;
	border-bottom-style: solid;
}
.basket_header .header_price {
  flex:2 !important;
}
.basket-products {
	display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.basket-footer {
  display: flex;
  flex-direction: row-reverse;
  border-top-style: solid;
  font-size: 20px;
  margin-top: 50px;
}
.basket-footer button {
  margin-top: 30px;
}
.total-price-container {
  border-style: double;
  margin-top: 30px;
}
.menu-item .basket-item-name , .basket-item-piece , .basket-item-price {
  flex: 1;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
button {
	background-color: rgba(0,0,0,0);
	color: white;
	padding: 5px 14px;
	font-size: 16px;
  cursor: pointer;
  outline:none;
  }
.inputPiece {
  width: 30px;
  margin-right: 20px;
}